rules_version = '2';

service firebase.storage {

  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null;
    }

    // Public read for all uploaded files
    match /{allPaths=**} {

      allow read: if true;

      allow write: if signedIn();

    }

  }

}